body{
    font-family: 'Yahoo Sans',Arial;
  
    background-color: #fff;
  
   
}

.topdiv{

    position: relative;
    background-color: #fff;
    color: #26282a;
    line-height: 84px;
    padding-left: 50px;
    
}
.column{

display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  line-height: normal;
  font-size: 0;
}

.help{

position: absolute;
  right: 64px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 13px;
}
a {
    color: #7d2eff;
    text-decoration: none;
  }

  .bottomrt
{
  height: 100%;
  width: 100%;
  overflow: hidden;
  min-height: 580px;
  min-width: 758px;
  text-align: center;
  position: relative;
  z-index: 0;
  top: 0;
  
}

.leftbox{
      display: flex;
      flex-direction: row;
      padding-left: 25%;
      
     }

.ptext {
  width:47%;
  text-align: left;
  padding-right: 3%;
  padding-top: 2%;
}

#paratext{
 font-size: 20px;

 text-align: left;

}

.rightbox{

  height: 550px;
  width: 360px;
  box-sizing: border-box;
  border-radius: 12px;
  background-color: #fff;
  color: #26282a;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
  display: inline-block;
  border-top: 1px solid #f1f1f5;
  align-self:flex-end;
}
.leftimage{

margin-bottom: 20%;

}
#username{

    border-color: transparent;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    text-align: center;
    color: #26282a;
    font-size: 16px;
    outline: none;
    width: 250px;

}
#strong{

  color: #26282a;
  font-family: 'Yahoo Sans',Arial;
  display: block;
  margin: 0;
  margin-top: 0px;
  margin-top: .82353rem;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: -.2px;
  text-align: center;
  line-height: 1.35294rem;
}
#strong1{

  color: #26282a;
  font-family: 'Yahoo Sans',Arial;
  display: block;
  font-size: 1rem;
  text-align: center;
  word-spacing: -0.01cm;
  
}

#Error{

    color: #ff0000;
    font-family: 'Yahoo Sans',Arial;
}
#button{
    color: #fff;
    background: #7d2eff;
    border: 1px solid #7d2eff;
    border-radius: 25px;
    height: 43px;
    width: 297px;
    font-size: 19px;
    cursor: pointer;
    transition: background-color 0.3s ease; /

}
#button:hover{
	
	background-color: #6512ee;

}


#Password{

   border-bottom: 1px solid #7d2eff; /* Add a bottom border */
   outline: none;                    
   width: 280px;
   height: 30px;
   border-top: 0px;
   border-left:  0px;
   border-right:  0px;
  


}

#Password1{

  border-bottom: 2px solid #f00; /* Add a bottom border */
  outline: none;                    
  width: 280px;
  height: 30px;
  border-top: 0px;
  border-left:  0px;
  border-right:  0px;


}
#Password:focus {
    border-bottom: 2px solid #4a6dd5;
  }
  input:focus + label[placeholder]:before {
    color: #000000;
    
  }
  input:focus + label[placeholder]:before,
  input:valid + label[placeholder]:before {
    transition-duration: .2s;
    transform: translate(-0.3em, -1.5em) scale(0.9, 0.9);
  }
  
  input:invalid + label[placeholder][alt]:before {
    content: attr(alt);
  }
  
  input + label[placeholder] {
    display: block;
    pointer-events: none;
    line-height: 1em;
    margin-top: calc(-3em - 2px);
    margin-bottom: calc((2em - 1em) + 2px);
    margin-left: 25px;
  }
  
  input + label[placeholder]:before {
    content: attr(placeholder);
    display: inline-block;
    margin-top:8%;
    margin-right:70%;
    padding: 0 2px;
    color: #898989;
    white-space: nowrap;
    transition: 0.3s ease-in-out;
    background-image: linear-gradient(to bottom, #fff, #fff);
    background-size: 100% 9px;
    background-repeat: no-repeat;
    background-position: center;
    
  }

  
  .custom-input {
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd; /* Light blue border */
    border-radius: 8px; /* Rounded corners */
    font-size: 16px; /* Font size */
    text-align: center; /* Center text */
    outline: none; /* Removes the default focus outline */
    width: 125px; /* Set a fixed width */
    letter-spacing: 5px; /* Space between characters */
}

/* Optional: Change the border color when the input is focused */
.custom-input:focus {
    border-color: #1E90FF; /* Darker blue on focus */
    box-shadow: 0 0 5px rgba(30, 144, 255, 0.5); /* Blue shadow on focus */
}

a {
  cursor: pointer;

}

a:hover{

  color:#6000ff;
  
}
