<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/backend">Home</a><br><br>
    <form method='POST' action=''>
        <input type="submit" name="create" value="Create Table"> 
        <input type="submit" name="delete" value="Delete Table" onclick="javascript:return confirm('Are you sure to delete table');"> 
        <input type="submit" name="getdata" value="Get Data">
        <input type="submit" name="genurl" value="Gen URL">
        <h4><%= message %></h4>
    </form>
</body>
</html>
