<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/backend">Home</a><br><br>
    <form method="POST" enctype="multipart/form-data" action="/backend/upload">
    <div>
    <lable>Base Url</lable>
    <input type="text" name="url" style="width:400px;"><br><br>
    <lable>Key</lable>
    <input type="text" name="key" style="width:400px;"><br><br>
    <lable>Add Email List</lable>
    <input type="file" name="textFile"><br><br>
    <input type="submit" value="Upload">

</div>
</form>
</body>
</html>